/* GENERAL STYLING */
body {
    cursor: none;
    background-image: url(images/research_background.gif);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 3em;
    font-family: 'Annie Use Your Telescope';
    color: palevioletred;
    text-align: center;
    padding: 10px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;
    margin-right: 30px;
    font-size: 15px;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f6a0bd;
    color: white;
    cursor: pointer;
}

.back-button:hover {
    background-color: #e889a8;
}


/*RESEARCH HTML*/
#week-one {
    background-color: white;
    width: 500px;
    height: 1300px;
    opacity: 80%;
    margin: 20px;
    border-radius: 35px;

    img {
        width: 250px;
        height: 150px;
        margin-left: 40px;
    }
}

#week-two {
    background-color: white;
    width: 500px;
    height: 1300px;
    opacity: 80%;
    margin: 20px;
    border-radius: 35px;

    img {
        width: 350px;
        height: 200px;
        padding: 5px;
        margin-left: 70px;
    }
}

#week-three {
    background-color: white;
    width: 500px;
    height: 1850px;
    opacity: 80%;
    margin: 20px;
    border-radius: 35px;

    img {
        width: 250px;
        height: 150px;
        margin-left: 40px;
        padding: 5px;
    }
}

#week-four {
    background-color: white;
    width: 500px;
    height: 1300px;
    opacity: 80%;
    margin: 20px;
    border-radius: 35px;

    img {
        width: 250px;
        height: 150px;
        margin-left: 40px;
    }
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#custom-cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/cursor.png');
    background-size: cover;
    pointer-events: none;
    transition: transform 0.1s ease-out;
    pointer-events: none;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f6a0bd;
    color: white;
    cursor: pointer;
}


/*INTERACTIVITIES HTML*/

.interactivities1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.interactivities2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.interactivities3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.caption {
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-left: 500px;
        margin-right: 350px;
        margin-bottom: 100px;
        font-size: 12px;
        color: white;
    }
}

.float {
    width: 200px;
    animation: floating 8s ease-in-out infinite;
}

.bigImage {
    width: 500px;
    height: 300px;
    animation: floating 8s ease-in-out infinite;
}

.float1 {
    animation-duration: 8s;
}

.float2 {
    animation-duration: 10s;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

/*DESIGN PRACTICE HTML*/
.photos {
    flex-direction: row;
    gap: 20px;
    padding: 100px;
    justify-content: center;
}

.image {
    width: 600px;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image:hover {
    transform: scale(1.10);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.learning {
    background-color: white;
    margin: 40px 100px;
    padding: 20px 30px;
    border-radius: 35px;
    text-align: center;

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 1.5;
    }

    h1 {
        font-size: 3em;
        font-family: 'Annie Use Your Telescope';
        color: palevioletred;
        margin-bottom: 10px;
        margin-top: 0;
    }
}