body {
    background-image: url(images/gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: none;
}

.buttons {
    background-image: url('images/star.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 250px;
    height: 250px;

    border: none;
    background-color: transparent;

    padding: 0;
    cursor: none;

    position: absolute;
    bottom: 30px;
    left: 350px;
    transform: none;

    font-size: 1.5em;
    font-family: 'Annie Use Your Telescope';
    color: white;

    z-index: 10;

    animation: orbit 20s linear infinite;
    animation-delay: 0s;
}

h2 {
    font-size: 2em;

}

.ipod {
    background-image: url('images/ipodshuffle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 300px;
    height: 300px;

    position: absolute;
    top: -20px;
    right: 1px;

    z-index: 20;
    display: block;
}

img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 25%;
}

#custom-cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/cursor.png');
    background-size: cover;
    pointer-events: none;
    transition: transform 0.1s ease-out;
    z-index: 9999;
}

.right-button {
    left: auto;
    right: 200px;
    animation: orbit 20s linear infinite;
    animation-delay: 0s;
}

.new-button {
    left: auto;
    right: 560px;
    top: 400px;
    animation: orbit 20s linear infinite;
    animation-delay: 0s;
}

.other-button {}

h1 {
    font-size: 15em;
    font-family: 'Annie Use Your Telescope';
    color: #B00F64;
    text-align: center;
    position: relative;
    z-index: 10;
}

h2 {
    color: #FFFFFF;
    position: relative;
    z-index: 10;
    font-family: 'Annie Use Your Telescope';
}

p {
    font-family: 'Annie Use Your Telescope';
}

/*p5 styling */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}


/* button animation */
@keyframes orbit {
    from {
        transform: translate(-30%, -50%) rotate(5deg) translateX(50px);
    }

    to {
        transform: translate(-30%, -50%) rotate(360deg) translateX(50px);
    }
}

@keyframes orbit2 {
    from {
        transform: translate(-30%, -50%) rotate(5deg) translateX(50px);
    }

    to {
        transform: translate(-30%, -50%) rotate(360deg) translateX(50px);
    }
}