body {
    background-image: url(images/gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: none;
}

.buttons {
    background-image: url('images/star.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 250px;
    height: 250px;

    border: none;
    background-color: transparent;

    padding: 0;
    cursor: none;

    position: absolute;
    bottom: 30px;
    left: 400px;

    font-size: 1.5em;
    font-family: 'Annie Use Your Telescope';
    color: white;

    z-index: 10;

    animation: spin 6s linear infinite;
    animation-delay: 0s;
}

.buttons {
    animation:
        spin 8s linear infinite,
        float 3s ease-in-out infinite;
}

h2 {
    font-size: 2em;

}

.ipod {
    background-image: url('images/ipodshuffle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 300px;
    height: 300px;

    position: absolute;
    top: -20px;
    right: 1px;

    z-index: 20;
    display: block;
}

/* images */
img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 25%;
}

.pics {
    display: flex;
    gap: 40px;

    justify-content: center;
    align-items: center;

    margin-top: 30px;

    position: relative;
    z-index: 5;
}

.polaroid {
    width: 200px;
    height: 250px;
    left: 50px;
    transform: rotate(-5deg);
}

#custom-cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/cursor.png');
    background-size: cover;
    pointer-events: none;
    transition: transform 0.1s ease-out;
    z-index: 9999;
}

/*.right-button {
    left: auto;
    right: 280px;
    animation: orbit 20s linear infinite;
    animation-delay: 0s;
}

.new-button {
    left: auto;
    right: 550px;
    top: 470px;
    animation: orbit 17s linear infinite;
    animation-delay: 0s;
}

.other-button {}*/

h1 {
    font-size: 15em;
    font-family: 'Annie Use Your Telescope';
    color: #B00F64;
    text-align: center;
    position: relative;
    z-index: 10;
}

h2 {
    color: #FFFFFF;
    position: relative;
    z-index: 10;
    font-family: 'Annie Use Your Telescope';
}

p {
    font-family: 'Annie Use Your Telescope';
}

/*p5 styling */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

/* popup container */
.popup {
    position: relative;
    display: inline-block;
    margin: 30px;
}

/* popup images */
.popup img {
    width: 180px;
    height: auto;
    position: static;
}

/* hidden popup text */
.popuptext {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: #B00F64;

    text-align: center;
    padding: 12px;
    border-radius: 15px;

    position: absolute;
    z-index: 100;

    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Annie Use Your Telescope';
    font-size: 20px;
}

/* pop ups */
.lipgloss {
    position: absolute;
    left: 20px;
    top: 45%;
}

.phone {
    position: absolute;
    transform: rotate(5deg);
    right: 40px;
    bottom: 20px;
}

.phone:hover {
    transform: rotate(10deg) scale(1.05);
}

.lollies {
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.popup img:hover,
.polaroid:hover,
.ipod:hover {
    filter: drop-shadow(0 0 15px hotpink);
    transform: scale(1.05);
}


.orbit {
    position: absolute;

    top: 700px;
    left: 200px;

    transform-origin: center;

    animation: orbit 18s linear infinite;
}

.orbit1 {
    animation-duration: 22s;

}

.orbit2 {
    animation-duration: 16s;
}

.orbit3 {
    animation-duration: 28s;
}

/* button animation */
@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(180px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(180px) rotate(-360deg);
    }
}

@keyframes orbit2 {
    from {
        transform: translate(-30%, -50%) rotate(5deg) translateX(50px);
    }

    to {
        transform: translate(-30%, -50%) rotate(360deg) translateX(50px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-8px) rotate(5deg);
    }

    100% {
        transform: translateY(0px) rotate(3deg);
    }
}