body {
    background-image: url(images/gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: none;
}

.buttons {
    animation:
        spin 8s linear infinite,
        float 3s ease-in-out infinite;
}

h2 {
    font-size: 2em;

}

.ipod {
    background-image: url('images/ipodshuffle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 300px;
    height: 300px;

    position: absolute;
    top: -20px;
    right: 1px;

    z-index: 20;
    display: block;
}

#playlist-panel {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.7);

    width: 400px;
    padding: 30px;

    background: rgba(255, 214, 236, 0.95);

    border-radius: 25px;
    border: 3px solid white;

    box-shadow: 8px 8px 0 hotpink;

    opacity: 0;
    pointer-events: none;

    transition:
        opacity 0.6s ease,
        transform 0.6s ease;

    z-index: 999;

}

#playlist-panel.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    pointer-events: auto;
}

#playlist-panel h2 {
    font-family: 'Annie Use Your Telescope';
    font-size: 42px;
}

#playlist-panel li {
    font-size: 18px;
    margin-bottom: 10px;
}

.playlist-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}


/* images */
img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 25%;
}

.pics {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    z-index: 5;
}

.polaroid {
    width: 200px;
    height: 250px;
    left: 50px;
    transform: rotate(-5deg);
}

#custom-cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/cursor.png');
    background-size: cover;
    pointer-events: none;
    transition: transform 0.1s ease-out;
    z-index: 9999;
}

/*.right-button {
    left: auto;
    right: 280px;
    animation: orbit 20s linear infinite;
    animation-delay: 0s;
}

.new-button {
    left: auto;
    right: 550px;
    top: 470px;
    animation: orbit 17s linear infinite;
    animation-delay: 0s;
}

.other-button {}*/

h1 {
    font-size: 15em;
    font-family: 'Annie Use Your Telescope';
    color: #B00F64;
    text-align: center;
    position: relative;
    z-index: 10;
}

h2 {
    color: #FFFFFF;
    position: relative;
    z-index: 10;
    font-family: 'Annie Use Your Telescope';
}

p {
    font-family: 'Annie Use Your Telescope';
}

/*p5 styling */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

/* popup container */
.popup {
    position: relative;
    display: inline-block;
    margin: 30px;
}

/* popup images */
.popup img {
    width: 180px;
    height: auto;
    position: static;
}

/* hidden popup text */
.popuptext {
    visibility: hidden;
    width: 100px;
    background-color: white;
    color: #B00F64;
    text-align: center;
    padding: 12px;
    border-radius: 15px;
    position: absolute;
    z-index: 100;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Annie Use Your Telescope';
    font-size: 20px;
}

/* pop ups */
.lipgloss {
    position: absolute;
    left: 20px;
    top: 45%;
}

.phone {
    position: absolute;
    transform: rotate(5deg);
    right: 40px;
    bottom: 20px;
}

.phone:hover {
    transform: rotate(10deg) scale(1.05);
}

.lollies {
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.popup img:hover,
.polaroid:hover,
.ipod:hover {
    filter: drop-shadow(0 0 15px hotpink);
    transform: scale(1.05);
}

/* orbit containers */
.orbit {
    position: absolute;
    width: 300px;
    height: 300px;
    animation: spin 20s linear infinite;
    z-index: 20;
}

/* actual star buttons */
.buttons {
    background-image: url('images/star.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) translateX(90px);

    font-size: 1.4em;
    font-family: 'Annie Use Your Telescope';
    color: black;
    text-decoration: none;
    animation: float 4s ease-in-out infinite;
}

/* star positions */
.star1 {
    top: 50%;
    left: 28%;

    animation-duration: 18s;
}

.star2 {
    top: 30%;
    left: 35%;

    animation-duration: 24s;
}

.star3 {
    top: 27%;
    left: 45%;

    animation-duration: 16s;
}

.star4 {
    top: 52%;
    left: 52%;

    animation-duration: 21s;
}

/* orbit rotation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* floating effect */
@keyframes float {
    0% {
        transform:
            translate(-50%, -50%) translateX(90px) translateY(0px) rotate(0deg);
    }

    50% {
        transform:
            translate(-50%, -50%) translateX(90px) translateY(-8px) rotate(4deg);
    }

    100% {
        transform:
            translate(-50%, -50%) translateX(90px) translateY(0px) rotate(0deg);
    }
}